@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,600&display=swap');

:root {
  --font: 'poppins', sans-serif;
  --bg: #202020; 
  --textColor: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: auto;
  height: auto;
  
  font-family: var(--font);
  background-color: var(--bg);
  color: var(--textColor);
  scroll-behavior: smooth;
  position: center;
  text-align: center;
  box-sizing: content-box;
}

body { 
  margin: auto;
  padding: auto;
  height: fit-content;
  display: block;
  position: center;
  max-width: 500px;
  box-sizing: content-box;
  width: 100%;
}

.heading {
  color: var(--textColor);
  font-weight: 600;
  font-size: 45px;
  text-align: center;
  margin: 10px auto;
}

.gallery {
  max-width: 675px;
  width: 100%;
  display: block;
  position: center;
  margin: 10px auto;
  padding: 10px;
  background-color: transparent;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}

.icon {
  position: center;
  width: 50px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.image {
  position: center;
  width: 90%;
  display: block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 10px;
}  
