@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,600&display=swap');

:root {
  --font: 'poppins', sans-serif;
  --bg: #202020; 
  --fontColor: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font);
  background-color: var(--bg);
  color: var(--fontColor);
}

body { 
  box-sizing: border-box;
  color: var(--fontColor);
}

.heading {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 45px;
}

.gallery {
  position: relative;
  width: 60%;
  height: auto;
}

.icon {
  position: relative;
  width:50px;
  float: center;
}

.image {
  position: relative;
  width:90%;
  float: center;
}  