@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,600&display=swap');

:root {
  --font: 'poppins', sans-serif;
  --bg: #202020; 
  --fontColor: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--font);
  background-color: var(--bg);
  color: var(--fontColor);
}

.heading {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 45px;
  position: relative;
  color: var(--fontColor);
}

.gallery {
  position: relative;
  margin-top: 30px;
  width: 60%;
  height: auto;
  float: left;
  padding: 25px;
}

.icon {
  position: relative;
  width: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  position: relative;
  width:90%;
  margin:25px auto;
  float: center;
}  

@media (max-width: 812px) {
 .gallery {
   width:100%;
   height:auto;
   position: relative;
   float:left;
   padding:25px;
 }
  
 @media (max-width: 812px) {
 .image {
   width:calc(100% - 50px);
   margin:25px 0px;
   position:relative;
   float: center;
 }






